* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    width: 800px;
    height: 700px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbar {
    min-width: 800px;
    height: 75px;
    background-color: rgb(196, 196, 196);
    display: flex;
    align-items: center;
    justify-content: space-evenly
}

input {
    width: 250px;
    height: 20px;
    border: solid black 2px;
}

#btn {
    width: 70px;
    height: 30px;
    border: solid black 2px;
    color: white;
    background-color: rgb(53, 100, 218);
    box-shadow: black 3px 4px;
}

.left-container {
    min-height: 500px;
    min-width: 400px;
}

.top-left {
    min-height: 250px;
    min-width: 200px;
    display: flex;
    border: solid black 3px;
}

.top-def {
    min-height: 250px;
    min-width: 150px;
}

h1, h3, p {
    text-align: center;
    align-content: center;
    padding: 7px;
    margin-top: 10px;
}

.noun {
    font-style: italic;
}

.like-button {
    margin-left: 30px;
    margin-top: 30px;
    width: 90px;
    height: 40px;
    border: solid black 2px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 242, 63);
    box-shadow: black 3px 4px;
    font-weight: bold;
    font-size: 10px;
}

.content {
    text-align: center;
    margin-top: 75px;
    font-size: 25px;
}

.top-def-2 {
    min-height: 250px;
    min-width: 250px;
}

.bottom-left {
    min-height: 250px;
    min-width: 200px;
    display: flex;
    border: solid black 3px;
    margin-top: 20px;
}

.bottom-def {
    min-height: 250px;
    min-width: 150px;
}

.bottom-def-2 {
    min-height: 250px;
    min-width: 250px;
}

.right-container {
    min-height: 500px;
    min-width: 250px;
    margin-bottom: 30px;
    margin-left: 20px;
}

.top-right {
    min-width: 250px;
    min-height: 200px;
    border:  solid black 3px;
    
}

h2 {
    text-align: left;
    margin-left: 15px;
    margin-top: 15px;
}

#add-def-btn {
    margin-top: 75px;
    margin-left: 50px;
    width: 150px;
    height: 30px;
    background-color: rgb(92, 139, 23);
    font-weight: bold;
    box-shadow: black 3px 4px; ;
}

